<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1099494166042-djhgsgaqvt0b3jjl89dbdg6ml86bfmdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099494166042-djhgsgaqvt0b3jjl89dbdg6ml86bfmdg</string>
	<key>API_KEY</key>
	<string>AIzaSyApu0FCwZNkRDGPLoyWkhbCtQFE_zJjZyk</string>
	<key>GCM_SENDER_ID</key>
	<string>1099494166042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangyoon.Median</string>
	<key>PROJECT_ID</key>
	<string>median-234c4</string>
	<key>STORAGE_BUCKET</key>
	<string>median-234c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099494166042:ios:f8c7c293ee7982cd</string>
	<key>DATABASE_URL</key>
	<string>https://median-234c4.firebaseio.com</string>
</dict>
</plist>